# OS X

*.stackdump
.AppleDouble
.DS_Store*
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
Icon


# Linux

*~
# kde directory preferences
.directory
# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*
# .nfs files are created when an open file is removed but is still being accessed
.nfs*
# trash folder which might appear on any partition or disk
.Trash-*/


# Windows

$RECYCLE.BIN/
*.cab
# shortcuts
*.lnk
*.msi
*.msm
*.msp
Desktop.ini
# thumbnail cache files
ehthumbs.db
ehthumbs_vista.db
Thumbs.db


# IntelliJ IDE

.idea/
out/
# jira plugin
atlassian-ide-plugin.xml
# сrashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
fabric.properties


# Visual Studio Code

.history/
.vscode/


# Sublime Text

*.sublime-project
*.sublime-workspace
.tern-project


# Logs

*.log
lerna-debug.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Node.js

# node-waf configuration
.lock-wscript
.node_history
.node_repl_history
# optional npm cache directory
.npm/
# yarn integrity file
.yarn-integrity
node_modules/

# Runtime data

*.pid
*.pid.lock
*.seed
pids

# Build

# output of 'npm pack'
*.tgz
build/
# compiled binary addons (https://nodejs.org/api/addons.html)
build/Release/
# cmake
cmake-build-debug/
cmake-build-release/
dist/
# typescript declaration files
typings/

# Tests

# nyc test coverage
.nyc_output/
# coverage directory used by tools like istanbul
coverage/
cypress/screenshots/
cypress/videos/
lcov.info
# directory for instrumented libs generated by jscoverage/JSCover
lib-cov/

# Environment variables file

.env
.env.development.local
.env.local
.env.production.local
.env.test.local

# Misc

*#
# optional eslint cache
.eslintcache
